
{% extends 'layout.twig' %}
{% block meta %}
     <meta name="title" content="experts hautement qualifiés en greffe de cheveux en Turquie ">
      <meta name="description" content="Ce sont tous des experts hautement qualifiés qui dirigent une équipe médicale qui n'a qu'un seul objectif: obtenir la pleine satisfaction des patients et faire de hair expert un centre de référence à Istanbul, capitale mondiale de la greffe de cheveux ">
      <meta name="keywords" content=" capitale mondiale de la greffe de cheveux">

    {% endblock  %}
{% block head %}
    <title> CONTACT </title>
{% endblock  %}


{% block content %}

 {% include('/components/contact/page_header.twig') %}
 {% include('/components/contact/contact_section.twig') %}
 {# {% include('/components/contact/staff.twig') %} #}
 

{% endblock  %}

