

<div style="background-color:#1A5EA4" class="jumbotron py-3 mb-0 ">
<div class="row">
<i class=""></i>

             <span  class="h3 px-3 white-text text-uppercase "> Call Hair Experts </span > 
             <span> <i class="animated tada  text-default fas fa-phone-volume fa-2x  "> </i> </span>
             <span class=" h3 pl-2 white-text"> +262 269 33 87 99 </span> 


            <a href="#" >  <span class=" h6 pl-2 white-text "> <i class="fab fa-facebook-messenger fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" h6 pl-2 white-text"> <i class=" far fa-envelope fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" h6 pl-2 white-text"><i class=" fab fa-whatsapp fa-2x"></i></span> </a>
           
    
 
</div>
</div>