
{% block style %}   
      <style>

     
        #greffeHeader .header-content {
              font-weight:530;
              color:white;
              font-size:33px;
              display:flex;
              justify-content:space-between;
            }

        #greffeHeader .info span:nth-child(1) {
              
              color:white;
              font-size:27px;
              font-style: italic;
            }

        #greffeHeader .info span:nth-child(2)  {
              
              color:#295AAE;
              font-size:40px;
            }

        #greffeHeader .info span:nth-child(3) i{
              
              color:#006400;
              font-size:44px;
              padding-left:5px;
            }

        #greffeHeader .info span:nth-child(4) {
              
              color:#006400;
              font-size:25px;
              font-style: italic;
            }


          #greffeHeader  .social_icons li  {
                      border:none;
                      padding:0;
                      background:transparent;
             }

          #greffeHeader  .social_icons li:hover  {
              border-bottom:1px solid black;
              padding-left:3px;
           }


        @media(max-width:900px){

              #greffeHeader .info span {
              
              color:white;
              font-size:22px;
              display:block;
              
            }

             #greffeHeader .info span:nth-child(3) i{
              display:none;
              
            }

            }

      </style>
 
{% endblock  %}

<section id="greffeHeader">
    <div  class="jumbotron blue-gradient py-3 mb-0 ">
      <div class="header-content ">

                  <div class="info">
                    <span> Appeler au </span > 
                    <span> </span > 
                    <span> <i class="animated tada fas fa-mobile-alt "> </i> </span>
                    <span> +90 555 300 6798 </span> 
                  </div> 

                  <div class="icons-social" data-aos="zoom-in-right">
                        <ul class="social_icons  d-block d-md-flex text-center list-group list-group-horizontal  justify-content-center ">
                            
                                <li class=" list-group-item ">
                                    <a href="#" style="width:35px;background:#355A96" title="facebook" class="btn  rounded p-2 border-0 z-depth-1 waves-effect">
                                    <i class="white-text fab fa-facebook-f "></i></a>
                                </li>

                                <li class=" list-group-item">
                                    <a href="#" style="width:35px;background:#EB2464" title="instagram" class="btn rounded  p-2 border-0 z-depth-1 waves-effect">
                                    <i class="white-text fab fa-instagram "></i></a>
                                </li>

                                <li class=" list-group-item">
                                    <a href="#" style="width:35px;background:#46ADEC" title="twitter"class="btn rounded p-2 border-0 z-depth-1 waves-effect">
                                    <i class="white-text fab fa-twitter"></i></a>
                                </li>

                                <li class=" list-group-item">
                                    <a href="#"style="width:35px;background:#F34D22" title="google-plus"class="btn rounded  p-2 border-0 z-depth-1 waves-effect">
                                    <i class="white-text fab fa-google-plus-g"></i></a>
                                </li>

                                <li class=" list-group-item">
                                    <a href="#" style="width:35px;background:#F8F434;color:black" title="snapchat" class="btn rounded  p-2 border-0  z-depth-1 waves-effect"><i style="color:black" class="fab fa-snapchat "></i></a>
                                </li>

                        </ul>
             
                  </div>
      </div>
    </div>
</section>


{# <a href="#" ><i class="fab fa-facebook-messenger"></i></a>
<a href="#" ><i class="far fa-envelope"></i> </a>
<a href="#" ><i class="fab fa-whatsapp"></i> </a> #}

