<!-- scroll to top button-->


{% block style %}   
      <style>

      #scroll_to_top .go-top {
        position: fixed;
        bottom: 2.5em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 15px;
        display: none;
        border-radius:5px;
    }

      #scroll_to_top .go-top:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    

      @media(max-width:900px){
      
          #scroll_to_top h1{
              font-size:25px;
              
            }

         
          }
       

      </style>
 
{% endblock  %}

<div id="scroll_to_top" >

            <a href="#" class="go-top"><i class="animated fadeOutUp infinite fas fa-angle-double-up fa-3x"></i></a>
{# <i class="fas fa-angle-double-up"></i> #}
</div>

<script>

$(document).ready(function() {

    // Show or hide the sticky footer button
    $(window).scroll(function() {
        if ($(this).scrollTop() > 200) {
            $('.go-top').fadeIn(200);
        } else {
            $('.go-top').fadeOut(200);
        }
    });
    
    // Animate the scroll to top
    $('.go-top').click(function(event) {
        event.preventDefault();
        
        $('html, body').animate({scrollTop: 0}, 300);
    })
});

</script>






 