{% extends 'layout.twig' %}

{% block head %}
    <title> GREFFE CHEVEUX</title>
     <style>
     

      </style>
{% endblock  %}

{% block content %}

 {% include('/components/greffe_cheveux/page_header.twig') %}
 {% include('/components/greffe_cheveux/blog_section.twig') %}

{% endblock  %}

