{% extends 'layout.twig' %}


{% block meta %}
     <meta name="title" content="Greffe cheveux Turquie, prix implant cheveux turquie">
    <meta name="description" content="------Greffe cheveux en Turquie : greffe cheveux fue istanbul, greffe DHI Turquie , meilleure clinique  implant cheveux prix pas cher">
    <meta name="keywords" content="greffe,cheveux,istanbul,DHI">
     
{% endblock  %}

{% block head %}
    <title> GREFFE CHEVEUX</title>
     
{% endblock  %}

{% block content %}

 {% include('/components/greffe_cheveux/page_header.twig') %}
 {% include('/components/greffe_cheveux/blog_section.twig') %}

{% endblock  %}

