{% extends 'layout.twig' %}
{% block meta %}
      <meta name="title" content="Greffe barbe ">
      <meta name="description" content="barbe turquie ">
      <meta name="keywords" content="barbe">
    {% endblock  %}
{% block head %}
    <title> GREFFE BARBE </title>
     <style>
     

      </style>
{% endblock  %}

{% block content %}

 {% include('/components/greffe_barbe/page_header.twig') %}
 {% include('/components/greffe_barbe/blog_section.twig') %}
 
 

{% endblock  %}


