{% extends 'layout.twig' %}
{% block meta %}
      <meta name="title" content=" Greffe sourcils turquie, prix implant sourcils istanbul">
      <meta name="description" content="Greffe sourcils en Turquie : greffe sourcils FUE istanbul, prix implant sourcils pas cher, meilleure clinique chirurgie capillaire 
 ">
      <meta name="keywords" content="sourcils,chirurgie, capillaire ">
    {% endblock  %}
{% block head %}
    <title> GREFFE SOURCILS</title>
     
{% endblock  %}

{% block content %}

 {% include('/components/greffe_sourcils/page_header.twig') %}
 {% include('/components/greffe_sourcils/blog_section.twig') %}

{% endblock  %}

