{% extends 'layout.twig' %}
{% block meta %}
      <meta name="title" content="Greffe soucils">
      <meta name="description" content="sourcils istanbul ">
      <meta name="keywords" content="sourcils">
    {% endblock  %}
{% block head %}
    <title> GREFFE SOURCILS</title>
     
{% endblock  %}

{% block content %}

 {% include('/components/greffe_sourcils/page_header.twig') %}
 {% include('/components/greffe_sourcils/blog_section.twig') %}

{% endblock  %}

