
{% extends 'layout.twig' %}

{% block head %}
    <title>Greffe cheveux Istanbul : Prix greffe cheveux Turquie </title>
    <meta name="description" content="Greffe de cheveux à Istanbul|Méthode DHI, FUE|Meilleure clinique Turquie,séjour tout compris|Implants capillaires garantis" />
     <meta name="title" content="Greffe de cheveux à Istanbul|Méthode DHI experts hautement qualifiés en greffe de cheveux en Turquie ">
      <meta name="keywords" content=" experts, hautement qualifiés ">
     <style>
         

     </style>

{% endblock  %}



{% block content %}

    {% block carousel %}
        {% include('/components/index/showcase_caroussel.twig') %}
    {% endblock  %}
   
    {% block lead_form_float %} 
          {% include('/components/index/lead_form_float.twig') %}
    {% endblock  %}

    {# {% block lead_form_fix %} 
          {% include('/components/index/lead_form_fix.twig') %}
    {% endblock  %} #}
    
    {% block home_text_intro %}
         {% include('/components/index/home_text_intro.twig') %}
    {% endblock  %}

    {% block home_icon_section %}
        <div class="container ">
         {% include('/components/index/home_icon_section.twig') %}
        </div>
    {% endblock  %}

    {% block home_heading_section %}
        {% include('/components/index/home_heading_section.twig') %}
    {% endblock  %}

    {# {% block info_section %}
      <div class="container ">
        {% include('/components/index/info_section.twig') %}
      </div>
    {% endblock  %} #}

    {# {% block video_play_section %}
    {% include('/components/index/video_play_section.twig') %}
    {% endblock  %} #}

     {% block photo_gallery_section %}
      <div class="container ">
        {% include('/components/index/photo_gallery_section.twig') %}
      </div>
    {% endblock  %} 


    {% block home_heading_section2 %}
        {% include('/components/index/home_heading_section2.twig') %}
    {% endblock  %}
    
    
    {% block video_gallery_section %}
      <div class="container ">
        {% include('/components/index/video_play_gallery_section.twig') %}
      </div>
    {% endblock  %} 

    {# {% block home_video_ghost %}
         {% include('/components/index/videoGalleryG-host.twig') %}
    {% endblock  %} #}

    {% block home_text_outro %}
         {% include('/components/index/home_text_outro.twig') %}
    {% endblock  %}

    {% block newsletter_section %}
     {% include('/components/index/lead_form-fix_bottom.twig') %}
    {% endblock  %}

    {# {% block lead_form-fix_bottom %}
      {% include('/components/index/lead_form-fix_bottom.twig') %}
    {% endblock  %} #}


{% endblock  %}


