 {% block style %}   
      <style>

     
       #text-intro h2{
              font-weight:600;
              color:#0099cc;
              font-size:33px;
              margin-top:15px;
                                      
            }

             #text-intro h3{
                  font-weight:600;
                  color:#00C3E4;
                  font-size:27px;
                }

       #text-intro p{
              font-size:22px;
              padding-left:10px;
                                      
            }


      @media(max-width:900px){
          
             #text-intro h1{
                  font-size:25px;
                  
                }

             #text-intro h2{
                  font-size:20px;
                }

             #text-intro h3{
                  font-size:18px;
                }

             #text-intro p{
                  font-size:16px;
                }
              }
      </style>
 
{% endblock  %}

<!--home_icon_section  -->
  <section  id="text-intro" class="py-3">
    <div class="container " data-aos="zoom-in">
        <h2> Greffe cheveux pas cher Istanbul</h2>
        <h3 > Implants capillaires pas cher Istanbul</h3>
        <p>Hair Experts est spécialisé dans la greffe de cheveux à Istanbul en Turquie, nous vous proposons des greffes de cheveux à Istanbul à des prix préférentiels.</p>
    </div>
    
  </section>