
 <!-- info_section -->
  <section id="info" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>Les docteurs Hair Expert</h3>
          <p>Hair Expert a choisit les meilleurs médecins turcs spécialisés dans la greffe cheveux. Nos médecins partenaires opèrent dans la meilleure clinjque d'Istanbul</p>
         
         
          <a href="{{URLROOT}}/homes/quiSommesNous" class=" z-depth-2 btn btn-outline-blue btn-lg">En savoir plus </a>
         
        </div>
        <div class="col-md-6 p-2">
        
          <img src="{{URLROOT}}/public/img/info_section/expert.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>