<!-- lead_form_fix-->


{# visible on xl and below  #}
   <section  class=" text-center p-5 ">
    

          <form 
          style=" 
           
            
            background:rgba(55,166,222,.9);
            
            border-radius:10px;
            
            " 
          id="lead_form_float" 
          action="{{URLROOT}}/homes" method="post"
           class="form p-3 d-block d-lg-none ">
      
                
                  <h4 class="text-center  mb-4 " >Demander un devis </h4>
                 <br>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i style="width:22px"  class="fas fa-portrait"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Votre nom au complet" >
                     </div>

                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i style="width:22px"  class="fas fa-mobile-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Votre numéro de téléphone" >
                     </div>

                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i style="width:22px"  class="fas fa-at"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Votre adresse email" >
                     </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01"><i style="width:22px" class="fas fa-user-md"></i></label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                          <option selected>Intervention souhaitée...</option>
                          <option value="1">greffe cheveux</option>
                          <option value="2">greffe barbe </option>
                          <option value="3">greffe sourcils</option>
                        </select>
                      </div>


                      <br>
                        <button 
                        style="margin-top:-4px; border:1px solid black; border-radius:10px;color:black;margin-top:5px;" 
                        class="ml-4 rounded btn blue  darken-3 z-depth-0  ">
                        Envoyer
                        </button>
          </form>

          <div class="row ">
                      <div class="col-md-10 ml-3 green-text   ">
                      {{register_success}}
                  </div>
        </div>
      </div>
    </div>
  </section>

