
 

 {% block style %}   
      <style>

     
        #sourcil h1{
              font-weight:600;
              color:rgb(0,128,128);
              font-size:33px;
                                      
            }

          #sourcil h2{
              font-weight:600;
              color:rgb(0,139,139);
              font-size:28px;
            }

          #sourcil h3{
              font-weight:600;
              color:rgb(32,178,170);
              font-size:24px;
            }

          #sourcil p{
                color:#010203;
               font-size:1rem;
            }

           #sourcil ul{list-style-type: disc;}
     

      @media(max-width:900px){
      
          #sourcil h1{
              font-size:25px;
              
            }

          #sourcil h2{
              font-size:20px;
            }

          #sourcil h3{
              font-size:18px;
            }

          #sourcil p{
              font-size:16px;
            }
          }
          

      #sourcil #imgSourcil{
          position:relative;
          background-image:url(https://drive.google.com/uc?export=view&id=1XQR5mZsT_yhYDwqBsM-DYa3Vk7AWP4ck); 
          height: 350px;
          width:100%;
          /*width:100%;*/
         background-position: 50% 50%;
         background-repeat: no-repeat;
         /* background-attachment: fixed;*/
          background-size: cover;
          background-color: rgba(0,0,0,.5);

          padding:15px;

          
          
        }

       #sourcil #sourcilOverlay{
           position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);

        }
        


      </style>
 
{% endblock  %}
  <section id="sourcil" class="py-3">
     <div class="container">

      <div class="row">
        <div class="col-lg-7">
          <h1>Greffe sourcils en Turquie : implants de sourcils FUE prix tout-compris</h1>

          <h2> A qui s’adresse la greffe sourcils en Turquie ? </h2>
          <p> La greffe de sourcils est une technique d’implantation peu invasive, qui permet de densifier et d’épaissir les sourcils clairsemés ou trop minces.  Cette intervention de chirurgie capillaire restaure l’harmonie des sourcils et contribue à rajeunir le visage. </p><p>S’adressant aussi bien aux hommes qu’aux femmes, les implants de sourcils par DHI sont indiqués pour redessiner les sourcils dépourvus d’une partie plus ou moins importante de leur pilosité. Ceci peut être dû à l'alopécie, des traitements de chimiothérapie ou encore à une épilation excessive des sourcils. </p>
          <p>Ainsi, la greffe de sourcils FUE constitue une alternative à la micro-pigmentation et autres techniques de maquillage semi-permanent des sourcils qui n'offrent que des résultats temporaires. </p>

          
          </div>

        <div class="col-lg-5">
            <div class="card p-2">
            <div id="imgSourcil" > <!-- /public/img/sourcils/sourcil1.jpg  --><div id="sourcilOverlay"  > </div> </div> 
              <div class="card-body">
                <h4 class="card-title text-center">Greffe de sourcil</h4>
              </div>
            </div>

               <form 
          id="ff" 
          action="#" 
          method="post" 
          class=" box text-center form winter-neva-gradient  my-3 p-3 z-depth-1 "
          >
                 
                 <h4 class="text-center  mb-4 " >Demander un devis </h4>
                 <br>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i style="width:22px"  class="fas fa-portrait"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Votre nom au complet" >
                     </div>

                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i style="width:22px"  class="fas fa-mobile-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Votre numéro de téléphone" >
                     </div>

                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i style="width:22px"  class="fas fa-at"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Votre adresse email" >
                     </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01"><i style="width:22px" class="fas fa-user-md"></i></label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                          <option selected>Intervention souhaitée...</option>
                          <option value="1">greffe cheveux</option>
                          <option value="2">greffe barbe </option>
                          <option value="3">greffe sourcils</option>
                        </select>
                      </div>


                      <br>
                        <button 
                        style="margin-top:-4px; border:1px solid black; border-radius:10px;color:black;margin-top:5px;" 
                        class="ml-4 rounded btn blue-gradient darken-3 z-depth-0  ">
                        Envoyer
                        </button>
          </form>
           

        </div>


          
          <div class="col-lg-12">
          <h2> Avantages de la greffe sourcils à Istanbul</h2>
              <p>La chirurgie d’implantation de sourcils en Turquie apporte plusieurs avantages : </p>

              <h3><ul>
              <li>L’intervention est  indolore et peu invasive</li>
              <li>Ne laisse aucune cicatrice visible sur la zone d’implantation ou de prélèvement folliculaire</li>
              <li>Elle affine le regard et adoucit l'expression du visage</li>
              <li>Elle donne à la ligne des sourcils un aspect parfaitement naturel</li>
              <li>La correction de la frange des sourcils améliore la symétrie faciale</li>
              <li>Elle permet de dissimuler les cicatrices de l’arcade sourcilière</li>
              </ul></h3>

              <h2>Greffe de sourcils prix Turquie</h2>
              <p>Le prix de la greffe de sourcils en Turquie est jusqu’à 70% moins cher qu’en France. Il s’agit d’une formule tout-compris qui inclut les frais de la chirurgie capillaire, les examens préopératoires, le séjour de convalescence à Istanbul et les différents services liés au séjour médical en Turquie (transferts, assistants, chargé de traduction…). </p>
              <p>Pour votre chirurgie d’implantation de sourcils en Turquie, vous serez pris en charge dans la meilleure clinique de greffe cheveux à Istanbul, et aurez à votre disposition une équipe professionnelle et habituée à prodiguer des soins d’implantation capillaire. </p>
              <p>Demandez gratuitement un devis personnalisé et sans engagement pour votre greffe de sourcils à prix tout-compris en Turquie. </p>
              <h2>Comment se déroule la greffe sourcils DHI ? </h2>
              <p>La transplantation de sourcils est effectuée au moyen de la technique de l'extraction d'unités folliculaires (FUE). </p>
              <p>Compte tenu du nombre réduit de follicules à transférer (entre 200 et 500), la durée de l’opération de greffe de sourcils est beaucoup plus courte que celle des implants capillaires dans d'autres parties du corps. Ainsi, l’implantation de sourcils dure entre 2 à 3 heures, contre 6 à 10 heures pour des greffes de barbe ou de cheveux. </p>
              <p>Tout d'abord, le chirurgien effectue le dessin des sourcils, en fonction des caractéristiques du visage du patient et de ses objectifs esthétiques. </p>
              <p>Sous anesthésie locale, les follicules pileux du patient sont extraits depuis la nuque, puis réimplantés dans chaque sourcil, à l’aide d’un punch ultra fin. Les micro-greffes sont réalisées en tenant compte du sens de croissance de chaque poil de sourcil, afin de garantir un résultat naturel. </p>
              <h2>Résultat des implants de sourcils</h2>
              <p>La greffe de sourcils en Turquie aboutit à un résultat naturel et durable. Les poils transplantés sont définitifs et améliorent l’harmonie du visage. Toutefois, Il faut tenir compte de leur repousse plus rapide que celle des poils environnants, en particulier pendant la première année postopératoire. Pendant cette période, les poils de sourcils implantés devront être taillés régulièrement afin de garantir un rendu esthétique harmonieux. </p>
              <p>Pour le long terme, la greffe de sourcils est le traitement  le plus efficace pour récupérer la densité capillaire des sourcils, sans laisser de marques ni de cicatrices. </p>


        </div>


      </div> {# row end #}

    </div>
  </section>